%footer.branding
  %p
    Developed by
    = succeed "." do
      %a(href="http://weibo.com/cao7113") Caory
    Powered by Nesta, a
    = succeed "." do
      %a(href="https://github.com/cao7113/nesta") Ruby CMS
